@import "/client/lib/bootstrap/custom.bootstrap.import.less";

@dream-content-gutter: 10px;

ul.dreams.media-list {
  li {
    & > .media-body {
      width: 100%;
      h3 {
        margin: 12.5px 0;
        font-size: @font-size-h4;
      }
      h2 {
        font-size: @font-size-h3;
      }
      & > a {
        display: block;
        .make-row(@gutter: @dream-content-gutter);
        .clearfix();
        & > .img {
          img {
            .img-responsive();
            margin-bottom: @line-height-computed / 2;
            @media (max-width: @screen-md-min) {
              max-height: 10 * @line-height-computed;
            }
          }
          .make-md-column(4, @gutter: @dream-content-gutter);
        }
        & > .text {
          .make-md-column(8, @gutter: @dream-content-gutter);
          h2 {
            margin-top: 0;
          }
        }
        p {
          color: @text-color;
        }
        &:hover {
          text-decoration: none;
          h2 {
            text-decoration: underline;
          }
          p {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.dreams, .dream, .newDream {
  .page-header {
    background: @brand-dream;
    color: #fff;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
        & > .name {
          text-decoration: underline;
        }
      }
    }
  }
}

.dreams .add {
  display: block;
  padding-bottom: @line-height-computed;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: @line-height-computed;
  font-size: @font-size-h3;
  i {
    font-size: 58px;
  }
}

.newDream, .editDream {
  .form-group {
    .list-group {
      padding-left: 0;
      list-style: none;
      .list-group-item {
        margin-bottom: 0.5em;
        .media {
          display: table-row;
          .media-right {
            margin-right: 0;
            color: @text-color;
            .fa {
              font-size: 80%;
            }
          }
          .media-body {
            width: 100%;
            .form-group {
              margin-bottom: 0;
            }
            .help-block.new-item {
              margin: 6px 0 6px;
              font-size: 16px;
            }
          }
        }
        .control-label {
          display: none;
        }
      }
    }
  }
}
