@import "/client/lib/bootstrap/custom.bootstrap.import.less";

@dream-content-gutter: 10px;

ul.dreams.media-list {
  li {
    margin-top: @line-height-computed;
    & > .media-body {
      width: 100%;
      h3 {
        margin: 12.5px 0;
        font-size: @font-size-h4;
      }
      h2 {
        font-size: @font-size-h3;
      }
      & > a {
        display: block;
        .make-row(@gutter: @dream-content-gutter);
        .clearfix();
        & > .img {
          img {
            .img-responsive();
            margin-bottom: @line-height-computed / 2;
            @media (max-width: @screen-md-min) {
              max-height: 10 * @line-height-computed;
            }
          }
          .make-md-column(4, @gutter: @dream-content-gutter);
        }
        & > .text {
          .make-md-column(8, @gutter: @dream-content-gutter);
          h2 {
            margin-top: 0;
          }
        }
        p {
          color: @text-color;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          h2 {
            text-decoration: underline;
          }
          p {
            text-decoration: none;
          }
        }
      }
      .actions .make {
        color: @brand-make;
        &:hover,
        &:focus {
          color: darken(@brand-make, 15%);
        }
        i {
          margin-right: 0.25em;
        }
      }
    }
  }
}

.dreams, .dream, .newDream, .editDream {
  .page-header {
    background: lighten(@brand-dream, 5%);
  }
}

.dreams {
  a {
    color: @brand-dream;
    &:hover,
    &:focus {
      color: darken(@brand-dream, 15%);
    }
  }
  .add {
    padding-bottom: @line-height-computed;
    border-bottom: 1px solid @gray-lighter;
  }
}
