<template name="dreams">
  <div class="dreams container">
    <ul class="media-list">
      {{#each dreams}}
        <li class="media">
          <div class="media-left">
            {{> profilePic author}}
          </div>
          <div class="media-body">
            <h3>
              <a href="{{pathFor 'user'}}">{{author.profile.name}}</a>
              <small>{{livestamp createdAt}}</small>
            </h3>
            <a href="{{pathFor 'dream'}}">
              <div>
                <div class="img">
                  <img class="img-responsive" src="http://lorempixel.com/400/200" alt="...">
                </div>
                <div class="text">
                  <h2>{{title}}</h2>
                  <p>{{preview body length=200}}</p>
                </div>
              </div>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
