<template name="dreams">
  <div class="container">
    {{> dreamsList}}
  </div>
</template>

<template name="dreamsList">
  <ul class="dreams media-list">
    {{#each dreams}}
      <li class="media">
        <div class="media-left">
          {{#with author}}
            <a href="{{pathFor 'user'}}">{{> profilePic}}</a>
          {{/with}}
        </div>
        <div class="media-body">
          <h3>
            {{#with author}}
              <a href="{{pathFor 'user'}}">{{profile.name}}</a>
            {{/with}}
            <small>{{livestamp createdAt}}</small>
          </h3>
          <a href="{{pathFor 'dream'}}">
            <div>
              <div class="img">
                <img class="img-responsive" src="http://lorempixel.com/400/200" alt="...">
              </div>
              <div class="text">
                <h2>{{title}}</h2>
                <p>{{preview body length=200}}</p>
              </div>
            </div>
          </a>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
