<template name="dream">
  {{#contentFor 'header'}}
    {{> dreamHeader}}
  {{/contentFor}}

  {{#if imagesOrVideos}}
    {{> gallery}}
  {{/if}}
  
  {{{body}}}

  {{#if links}}
    <h2>Links</h2>
    <ul class="fa-ul">
      {{#each links}}
        <li><a href="{{this}}" target="_blank"><i class="fa-li fa fa-link"></i>{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="comments">
    {{> disqus}}
  </div>

  {{#contentFor 'aside'}}
    <h2>Share</h2>
    {{> sharing}}
    {{#if tags}}
      <h2>Tags</h2>
      {{#each tags}}
        <a href="{{pathFor 'tag' tag=this}}" class="label label-default">{{this}}</a>
      {{/each}}
    {{/if}}
    <h2>Actions</h2>
    {{> dreamActions}}
    {{#if currentUserIsAuthor}}
      <ul class="list-unstyled">
        <li><a href="{{pathFor 'editDream'}}"><i class="fa fa-pencil fa-fw"></i>Edit</a></li>
      </ul>
    {{/if}}
  {{/contentFor}}
</template>

<template name="dreamHeader">
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      {{#with author}}
        <a href="{{pathFor 'user'}}">
          {{> avatar user=this}}
          <span class="name">{{profile.name}}</span>
        </a>
      {{/with}}
      <small>{{formatDateTime createdAt}}</small>
    </p>
  </div>
</template>

<template name="dreamActions">
  <ul class="actions list-inline">
    <li>
      <a href="{{pathFor 'recipes' query=getQuery}}" class="make {{class}}">
        <i class="fa fa-fw fa-wrench"></i>Make
      </a>
    </li>
  </ul>
</template>
