<template name="dream">
  {{#contentFor 'header'}}
    <div class="container">
      <h1>{{title}}</h1>
      <p>
        {{#with author}}
          <a href="{{pathFor 'user'}}">
            {{> avatar user=this}}
            <span class="name">{{profile.name}}</span>
          </a>
        {{/with}}
        <small>{{date createdAt}}</small>
      </p>
    </div>
  {{/contentFor}}

  {{#if imagesOrVideos}}
    {{> gallery images=images videos=videos}}
  {{/if}}
  {{{body}}}
  {{#if links}}
    <h2>Links</h2>
    <ul class="list-unstyled">
      {{#each links}}
        <li><a href="{{this}}" target="_blank">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="comments">
    {{> disqus}}
  </div>

  {{#contentFor 'aside'}}
    <h2>Share</h2>
    {{> sharing}}
    {{#if tags}}
      <h2>Tags</h2>
      {{#each tags}}
        <a href="{{pathFor 'tag' tag=this}}" class="label label-default">{{this}}</a>
      {{/each}}
    {{/if}}
    {{#if currentUserIsAuthor}}
      <h2>Actions</h2>
      <ul class="list-unstyled">
        <li><a href="{{pathFor 'editDream'}}"><i class="fa fa-pencil fa-fw"></i>Edit</a></li>
      </ul>
    {{/if}}
  {{/contentFor}}
</template>
