<template name="dreams">
  {{#contentFor 'header'}}
    <div class="container">
      <h1>{{title}}</h1>
    </div>
  {{/contentFor}}
  <a href="{{pathFor 'newDream'}}" class="add media">
    <div class="media-left media-middle">
      <i class="fa fa-plus-circle media-object"></i>
    </div>
    <div class="media-body media-middle">
      Share your dream
    </div>
  </a>
  {{> dreamsList}}
  {{#contentFor 'aside'}}
  {{/contentFor}}
</template>

<template name="dreamsList">
  <ul class="dreams media-list">
    {{#each dreams}}
      <li class="media">
        <div class="media-left">
          {{#with author}}
            <a href="{{pathFor 'user'}}">{{> avatar user=this}}</a>
          {{/with}}
        </div>
        <div class="media-body">
          <h3>
            {{#with author}}
              <a href="{{pathFor 'user'}}">{{profile.name}}</a>
            {{/with}}
            <small>{{livestamp createdAt}}</small>
          </h3>
          <a href="{{pathFor 'dream'}}">
            <div>
              {{#if image}}
                <div class="img">
                  <img class="img-responsive" src="{{image.url}}" alt="Image for {{title}}">
                </div>
              {{/if}}
              <div class="text">
                <h2>{{title}}</h2>
                <p>{{preview body length=200}}</p>
              </div>
            </div>
          </a>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
