<template name="user">
  {{#contentFor 'header'}}
    <div class="container">
      <h1>
        {{> avatar user=this size='large'}}
        {{profile.name}}
      </h1>
    </div>
  {{/contentFor}}

  {{{profile.body}}}

  {{#contentFor 'aside'}}
    {{> userContent items=dreams itemRoute='dream' title='Dreams' class='dreams'}}
    {{> userContent items=recipes itemRoute='recipe' title='Recipes' class="recipes"}}
    {{> userContent items=activities itemRoute='activity' title='Activities' class="activities"}}
  {{/contentFor}}
</template>

<template name="userContent">
  {{#if hasItems}}
    <div class="{{class}}">
      <h2>{{title}}</h2>
      <ul class="list-unstyled">
        {{#each getItems items}}
          <li><a href="{{pathFor ../itemRoute}}">{{title}}</a></li>
        {{/each}}
      </ul>
      {{#if hasMoreItems}}
        <button class="btn btn-default btn-xs show-all"><i class="fa fa-chevron-circle-down"></i> Show all</button>
      {{/if}}
    </div>
  {{/if}}
</template>
