@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.profile-pic {
  .avatar {
    display: inline-block;
  }
  img, .avatar-initials {
    border: 5px solid @gray-lighter;
  }
  .avatar-initials {
    line-height: 40px;
  }
}
