@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.profile-pic.avatar {
  display: inline-block;
  &:not(.avatar-extra-small) {
    img, .avatar-initials {
      border: 5px solid @gray-lighter;
    }
  }
  .avatar-initials {
    line-height: 40px;
  }
}

.user {
  .page-header {
    // FIXME Background should vary with user type (dreamer/maker/booster) – or perhaps combine them in a multi-colored banner?
    /* background: @brand-dream;
    color: #fff; */
  }
}
