@import "../lib/bootstrap/custom.bootstrap.less";
@import "../lib/bootstrap/custom.bootstrap.import.less";

@dream: #8f0ad7;
@make: #0a90d7;
@boost: #0ad78c;

.front-page {
  .jumbotron {
    // No white space between navbar and full width jumbotron on front page
    margin-top: -20px;
  }
  .communities {
    .make-row();
    & > div {
      .make-sm-column(4);
      text-align: center;
      p {
        margin-top: 10px;
      }
      & > a {
        .btn;
        .btn-block;
      }
      &.dream > a {
        .button-variant(#fff, @dream, darken(@dream, 5%));
      }
      &.make > a {
        .button-variant(#fff, @make, darken(@make, 5%));
      }
      &.boost > a {
        .button-variant(#fff, @boost, darken(@boost, 5%));
      }
    }
  }
}
