<template name="frontPage">
  {{#contentFor 'header'}}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="//player.vimeo.com/video/112098501?portrait=0&amp;byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-4">
            <h1>Welcome to GeoMakers</h1>
            <p>
              GeoMakers is an open community that collaborates to dream, build and implement open source Maker’s projects that involve mapping, remote sensing, navigating, and understanding our world geographically. We seek to change how people see and interact with our world by using inexpensive DIY techniques.
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/contentFor}}
  <div class="communities">
    <div class="dream">
      <p>
        <img src="/img/geodreamer.jpg" alt="GeoDreamer">
      </p>
      <p>
        Dream. Invent. Think. Brainstorm.<br>
        This is where you dream of ideas for others to build.
      </p>
      <p>
        <a href="{{pathFor 'dreams'}}" class="btn">Dream</a>
      </p>
    </div>
    <div class="make">
      <p>
        <img src="/img/geomaker.jpg" alt="GeoMaker">
      </p>
      <p>
        Blueprints. Schematics. Drawings.<br>
        Instructions. 3D Print. Make GeoDreams a reality.
      </p>
      <p>
        <a href="{{pathFor 'recipes'}}" class="btn">Make</a>
      </p>
    </div>
    <div class="boost">
      <p>
        <img src="/img/geobooster.jpg" alt="GeoBooster">
      </p>
      <p>
        Download. Collect. Investigate.<br>
        Boost and share data of your surroundings or universe.
      </p>
      <p>
        <a href="{{pathFor 'activities'}}" class="btn">Boost</a>
      </p>
    </div>
  </div>
  <div class="information">
    <div>
      <h2>{{dict 'frontPageMakerSpacesHeading' 'MakerSpaces'}}</h2>
      {{{dict 'frontPageMakerSpacesBody'}}}
      <p><a href="{{pathFor 'makerspaces'}}">{{dict 'frontPageMakerSpacesLinkText' 'Find a MakerSpace near you'}}</a></p>
    </div>
    <div>
      <h2>{{dict 'frontPageMakerResourcesHeading' 'Maker Resources'}}</h2>
      {{{dict 'frontPageMakerResourcesBody'}}}
      <p><a href="{{pathFor 'contentPage' slug='maker-resources'}}">{{dict 'frontPageMakerResourcesLinkText' 'Browse our Maker Resources'}}</a></p>
    </div>
  </div>
  <div class="donate">
    <div>
      <h2>{{dict 'frontPageDonateHeading' 'Join and Help Build the GeoMaker Community'}}</h2>
      {{{dict 'frontPageDonateBody' 'GeoMakers is a free platform. But, it still costs money to write, support, and empower it. Please help this group of spatially aware tinkerers by donating now.'}}}
      <p><a href="{{pathFor 'contentPage' slug='donate'}}">{{dict 'frontPageDonateLinkText' 'Read more and donate'}}</a></p>
    </div>
  </div>
</template>
