<template name="recipes">
  {{#contentFor 'header'}}
    <div class="container">
      <h1>{{title}}</h1>
      {{#with dream}}
        <p class="lead">For the GeoDream <a href="{{pathFor 'dream'}}">{{title}}</a></p>
      {{/with}}
    </div>
  {{/contentFor}}
  {{#if dream}}
    {{#if empty}}
      <div class="alert alert-info">
        We don't have any recipes for this GeoDream yet. Go ahead and share yours.
      </div>
    {{/if}}
  {{/if}}
  {{> recipesBoard}}
</template>

<template name="recipesBoard">
  <div class="recipesBoard">
    {{#unless hideNewRecipeLink}}
      <div class="recipe">
        <a href="{{pathFor 'newRecipe' query=getQuery}}" class="add media">
          <h2>
            <div class="media-left media-middle">
              <i class="fa fa-plus-circle media-object"></i>
            </div>
            <div class="media-body media-middle">
              Share a recipe
            </div>
          </h2>
        </a>
      </div>
    {{/unless}}
    {{#each recipes}}
      <div class="recipe">
        <div class="thumbnail">
          <a href="{{pathFor 'recipe'}}">
            {{#if image}}
              <img src="{{image.url store='thumbnails-large'}}" alt="Image for {{title}}">
            {{/if}}
            <div class="caption">
              <h2>{{title}}</h2>
              <h3>{{author.profile.name}}</h3>
              <p>{{preview body}}</p>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</template>
