@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.recipes, .recipe, .newRecipe, .editRecipe {
  .page-header {
    background: lighten(@brand-make, 5%);
  }
}

.recipesBoard {
  .make-row();
  .recipe {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(4);
    .make-lg-column(3);
    h2 {
      font-size: @font-size-h3;
      margin-top: @line-height-computed / 2;
    }
    h3 {
      font-size: @font-size-h4;
      margin-top: 0;
    }
    .thumbnail {
      transition-property: all;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        margin-top: -5px;
      }
      a {
        h2 {
          color: @brand-make;
        }
        &:hover {
          text-decoration: none;
          h2 {
            text-decoration: underline;
            color: darken(@brand-make, 15%);
          }
        }
      }
    }
  }
}

.recipes {
  a {
    color: @brand-make;
    &:hover {
      color: darken(@brand-make, 15%);
    }
  }
}

.recipes .add h2 {
  margin: 0;
}

.recipe .steps li {
  padding-bottom: @line-height-computed / 2;
  border-bottom: 1px solid @gray-lighter;
}

.recipe, .editRecipe, .newRecipe {
  .steps li {
    font-size: @font-size-h3;
    line-height: @headings-line-height;
    .body, .panel-body {
      font-size: @font-size-base;
      line-height: @line-height-base;
    }
    &.autoform-array-item {
      border: none;
      list-style-type: decimal;
      margin-left: 30px;
      .list-group-item-content {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
