<template name="recipes">
  {{#contentFor 'header'}}
    <div class="container">
      <h1>{{title}}</h1>
      {{#with dream}}
        <p class="lead">For the GeoDream <a href="{{pathFor 'dream'}}">{{title}}</a></p>
      {{/with}}
    </div>
  {{/contentFor}}
  {{#if dream}}
    {{#if empty}}
      <div class="alert alert-info">
        We don't have any recipes for this GeoDream yet. Go ahead and share yours.
      </div>
    {{/if}}
  {{/if}}
  {{> recipesBoard}}
</template>

<template name="recipesBoard">
  <div class="recipesBoard">
    {{#unless hideNewRecipeLink}}
      <div class="recipe">
        <a href="{{pathFor 'newRecipe' query=getQuery}}" class="add media">
          <h2>
            <div class="media-left media-middle">
              <i class="fa fa-plus-circle media-object"></i>
            </div>
            <div class="media-body media-middle">
              Share a recipe
            </div>
          </h2>
        </a>
      </div>
    {{/unless}}
    {{#each recipes}}
      <div class="recipe">
        <div class="thumbnail">
          <a href="{{pathFor 'recipe'}}">
            {{#if image}}
              <img src="{{image.url store='thumbnails-large'}}" alt="Image for {{title}}">
            {{/if}}
            <div class="caption">
              {{> editorsPick}}
              <h2>{{title}}</h2>
              <p class="author">{{> avatar user=author size='extra-small'}} {{author.profile.name}}</p>
              <p>{{preview body}}</p>
            </div>
          </a>
          <div class="actions-container">
            {{> recipeActions}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{#with recipes}}
    {{#if moreResults}}
      <div class="text-center">
        <a class="btn btn-default btn-sm" href="?limit={{nextLimit}}"><i class="fa fa-chevron-circle-down"></i> Load more</a>
      </div>
    {{/if}}
  {{/with}}
</template>
