<template name="appBody">
  <!--[if lt IE 9]>
    <p class="alert alert-danger">You are using an outdated browser. Please <a href="http://browsehappy.com/" class="alert-link">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/brand.png" alt="{{dict 'siteName' 'GeoMakers'}}"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{isActivePath regex='dreams'}}">
            <a href="{{pathFor 'dreams'}}">GeoDreamers</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown">
              {{#with currentUser}}
                <a href="{{pathFor 'user'}}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                  {{> avatar user=this size='extra-small'}}
                  {{profile.name}}
                  <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{pathFor 'user'}}"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
                  <li><a href="{{pathFor 'userEdit'}}"><i class="fa fa-pencil fa-fw"></i> Edit Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="#" class="sign-out-button"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                </ul>
              {{/with}}
            </li>
          {{else}}
            <li>
              <a href="{{pathFor 'atSignIn'}}"><i class="fa fa-sign-in"></i> Sign In</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  {{> yield}}
  <footer>
    <div class="container">
      <div class="nav">
        <div class="about">
          <strong><a href="{{pathFor 'contentPage' slug='about'}}" class="{{isActivePath regex='about'}}">About</a></strong>
          <ul class="list-unstyled">
            <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='contact'}}" class="{{isActivePath regex='about/contact'}}">Contact</a></li>
            <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='terms'}}" class="{{isActivePath regex='about/terms'}}">Terms of Use</a></li>
            <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='privacy'}}" class="{{isActivePath regex='about/privacy'}}">Privacy Policy</a></li>
            <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='partners'}}" class="{{isActivePath regex='about/partners'}}">Partners</a></li>
          </ul>
        </div>
        <div class="connect">
          <strong>Connect</strong>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/GeoMakerRevolution" target="_blank"><i class="fa fa-facebook fa-fw"></i>Facebook</a></li>
            <li><a href="http://twitter.com/geomakers" target="_blank"><i class="fa fa-twitter fa-fw"></i>Twitter</a></li>
            <li><a href="http://instagram.com/geomakers" target="_blank"><i class="fa fa-instagram fa-fw"></i>Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCtLqSFJUOoFGyBmRMlAGH_Q" target="_blank"><i class="fa fa-youtube fa-fw"></i>YouTube</a></li>
            <li><a href="https://www.linkedin.com/company/geomakers" target="_blank"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="info">
        <div class="brand">
          <img src="/img/geomakers.svg" alt="GeoMakers">
        </div>
        <div class="copyright">
          © 2015 GeoMakers
        </div>
      </div>
    </div>
  </footer>
</template>
