@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.navbar-brand img {
  height: 20px;
}

#orion-admin .form-control.selectize-control, #orion-admin .form-control.selectize-dropdown {
  height: auto;
  background-color: @body-bg;
}
