@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.page-header {
  margin-top: -@navbar-margin-bottom;
  padding-top: @navbar-margin-bottom;
}

.dreams, .dream, .newDream, .editDream,
.recipes, .recipe, .newRecipe, .editRecipe,
.activities, .activity, .newActivity, .editActivity {
  .page-header {
    color: #fff;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
        & > .name {
          text-decoration: underline;
        }
      }
    }
  }
}

main article .comments {
  margin-top: @line-height-computed;
}

aside {
  .affix, .affix-bottom {
    // Fix width for affixed aside content – needs to match the column ratio (currently 1/3) between article and aside in app-body.html
    width: @container-sm / 3 - @grid-gutter-width;
    @media (min-width: @screen-md-min) {
      width: @container-md / 3 - @grid-gutter-width;
    }
    @media (min-width: @screen-lg-min) {
      width: @container-lg / 3 - @grid-gutter-width;
    }
  }
  .affix {
    top: 0;
  }
  .affix-bottom {
    position: absolute;
  }
}

.dreams,
.recipes,
.activities {
  .add {
    display: block;
    margin-bottom: @line-height-computed;
    font-size: @font-size-h3;
    i {
      font-size: 58px;
    }
  }
}

// Orion overrides
#orion-admin .form-control.selectize-control, #orion-admin .form-control.selectize-dropdown {
  height: auto;
  background-color: @body-bg;
}

#orion-admin .media {
  display: table-row;
  .media-body {
    width: 100%;
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
