<template name="footer">
  <footer>
    <div class="container">
      <div class="links">
        <div class="nav">
          <div class="row">
            <div>
              <strong><a href="{{pathFor 'contentPage' sectionSlug='' slug='about'}}" class="{{isActivePath regex='about'}}">About</a></strong>
              <ul class="list-unstyled">
                <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='contact'}}" class="{{isActivePath regex='about/contact'}}">Contact</a></li>
                <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='terms'}}" class="{{isActivePath regex='about/terms'}}">Terms of Use</a></li>
                <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='privacy'}}" class="{{isActivePath regex='about/privacy'}}">Privacy Policy</a></li>
                <li><a href="{{pathFor 'contentPage' sectionSlug='about' slug='partners'}}" class="{{isActivePath regex='about/partners'}}">Partners</a></li>
              </ul>
            </div>
            <div>
              <strong><a href="{{pathFor 'makerspaces'}}" class="{{isActivePath regex='makerspaces'}}">Makerspaces</a></strong>
            </div>
            <div>
              <strong><a href="{{pathFor 'contentPage' sectionSlug='' slug='maker-resources'}}" class="{{isActivePath regex='maker-resources'}}">Maker Resources</a></strong>
            </div>
            <div>
              <strong><a href="{{pathFor 'contentPage' sectionSlug='' slug='donate'}}" class="{{isActivePath regex='donate'}}">Donate</a></strong>
            </div>
          </div>
        </div>
        <div class="connect">
          <strong>Connect</strong>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/GeoMakerRevolution" target="_blank"><i class="fa fa-facebook fa-fw"></i>Facebook</a></li>
            <li><a href="http://twitter.com/geomakers" target="_blank"><i class="fa fa-twitter fa-fw"></i>Twitter</a></li>
            <li><a href="http://instagram.com/geomakers" target="_blank"><i class="fa fa-instagram fa-fw"></i>Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCtLqSFJUOoFGyBmRMlAGH_Q" target="_blank"><i class="fa fa-youtube fa-fw"></i>YouTube</a></li>
            <li><a href="https://www.linkedin.com/company/geomakers" target="_blank"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a></li>
            <li><a href="https://github.com/GeoMakers" target="_blank"><i class="fa fa-github fa-fw"></i>GitHub</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="info">
        <div class="brand">
          <img src="/img/geomakers.svg">
        </div>
        <div class="copyright">
          © 2015 GeoMakers
        </div>
      </div>
    </div>
  </footer>
</template>
