@import "/client/lib/bootstrap/custom.bootstrap.import.less";

@gallery-background: #000;
@gallery-arrow-padding: 5px;

.gallery {
  background: @gallery-background;
  margin-bottom: @line-height-computed / 2;
  .selected-image {
    text-align: center;
    img {
      display: inline;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .thumbnails {
    border: 1px solid @gallery-background;
    .slick-slide {
      text-align: center;
      border: 1px solid @gallery-background;
      &.slick-center {
        border-color: @body-bg;
      }
      .fa {
        line-height: 200%;
      }
    }
    .slick-prev {
      left: @gallery-arrow-padding;
    }
    .slick-next {
      right: @gallery-arrow-padding;
    }
  }
  .slick-slider {
    margin-bottom: 0;
  }
}
