<template name="gallery">
  <div class="gallery">
    <div class="selected-image">
      {{#each images}}
        <a href="{{url store='originals'}}" class="swipebox">
          <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item">
              <img data-lazy="{{url store='originals'}}" alt="{{original.name}}">
            </div>
          </div>
        </a>
      {{/each}}
      {{#each videos}}
        <a href="{{this}}" class="swipebox" target="_blank">
          {{#if embed.html}}
            <div class="embed-responsive embed-responsive-16by9">
              {{{embed.html}}}
            </div>
          {{else}}
            {{this}}
          {{/if}}
        </a>
      {{/each}}
    </div>
    {{#if hasMultiple}}
      <div class="thumbnails">
        {{#each images}}
          <div>
            <img data-lazy="{{url store='thumbnails'}}" alt="{{original.name}}" class="img-responsive">
          </div>
        {{/each}}
        {{#each videos}}
          <div>
            {{#if embed.thumbnail_url}}
              <img src="{{embed.thumbnail_url}}" alt="{{embed.title}}" class="img-responsive">
            {{else}}
              <i class="fa fa-video-camera fa-2x"></i>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
