<template name="makerspaces">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <p>
    Makerspaces are locations where people meet to learn, participate in projects, and make things. A makerspace often provides the tools and community to support makers. We've gathered information about these makerspaces to help you find one close to you. If you know of any we missed send us an email at <a href="mailto:info@geomakers.org">info@geomakers.org</a> or a pull request on GitHub to the <a href="https://github.com/GeoMakers/geomakers.org/blob/master/public/data/makerspaces.geojson">makerspaces GeoJSON file</a> in the geomakers.org repository.
  </p>
  <div id="map"></div>
</template>
