@import "/client/lib/bootstrap/custom.bootstrap.import.less";

.makerspaces {
  #map {
    width: 100%;
    height: 500px;
    margin: @line-height-computed 0;
  }
  .leaflet-container {
    font-family: @font-family-sans-serif;
    .leaflet-popup-content {
      h2 {
        font-weight: bold;
      }
      address {
        margin-bottom: 5px;
      }
      a {
        color: @link-color;
      }
    }
  }
}
